@charset "utf-8";
body{
	background-image:url(../Wallpaper/untitled.png);
	}
	h1{
		text-align:right;
	}
	#blink{
		font-family:"Times New Roman", Times, serif;
		color:#FF0000;
	}
	/*
	*/
	.lblNormal{
		font-weight:100;
		color:#FF0000;
		font-family:"Times New Roman", Times, serif;
		font-size:10px;
	}
	.cmbNormal{
		font-size:10;
		color:#333333;
		font-family:"Times New Roman", Times, serif;
	}
	.lstElmento{
		color: #FFFFFF;
		font-size:12px;
		font-family:"Times New Roman", Times, serif;
		text-align:center;
	}
